# Comment line immediately above ownership line is reserved for related gus information. Please be careful while editing.
#GUSINFO:FALSE,[{"node":{"name":"HTML"},"size":339},{"node":{"name":"JavaScript"},"size":10913},{"node":{"name":"Shell"},"size":72}]
*
#ECCN: EAR99
*